{extend name="base" /}
{block name="title"}<title>添加页面</title>{/block}
{block name="jsone"}
  <!-- Ueditor配置文件 -->
  <script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
  <!-- 编辑器源码文件 -->
  <script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>
{/block}

{block name="css"}

{/block}

{block name="pageheader"}
  <section class="content-header">
      <h1>
        页面管理
        <small>添加页面</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>页面管理</a></li>
        <li class="active">添加页面</li>
      </ol>
    </section>
{/block}
{block name="content"}
    <div>
      <section class="content">
      <div class="row">
        
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements disabled -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">基本信息/BASIC INFORMATION</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form role="form">
                <!-- text input -->
                <div class="form-group">
                  <label>标题/TITLE</label>
                  <input type="text" class="form-control" placeholder="Enter ...">
                </div>
                <div class="form-group">
                  <label>关键字/KEYWORDS</label>
                  <input type="text" class="form-control" placeholder="Enter ...">
                </div>
                <div class="form-group">
                  <label>描述/DESCRIPTION</label>
                  <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                </div>
                <div class="form-group">
                  <label for="exampleInputFile">缩略图</label>
                  <input type="file" id="exampleInputFile" accept="image/*">
                  <p class="help-block">Example block-level help text here.</p>
                </div>
              </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">基本信息/BASIC INFORMATION</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
              <div class="box-body">
                <div class="form-group">
                  <label>分类/CATALOGUE</label>
                  <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>状态/STATUS</label>
                  <select class="form-control">
                    <option>立即发布</option>
                    <option>存为草稿</option>
                  </select>
                </div>
              </div>
              <!-- /.box-body -->
            </form>
          </div>
          <!-- /.box -->

        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </section>
    </div>
    
    <!-- 加载编辑器的容器 -->
    <script id="container" name="content" type="text/plain">
        这里写你的初始化内容
    </script>
    
    <div class="col-xs-12 text-right" style="margin: 2em 2em 0 0;">
      <button type="submit" class="btn btn-success">发布</button>
    </div>

 {/block}

{block name="jstwo"}
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container');
    </script>
    <script type="text/javascript">

      $(function() {
        $('#file_upload').uploadify({
            'swf'      : '/static/uploadify/uploadify.swf',
            'uploader' : '',
            'buttonText': '上传图片',
            'fileTypeDesc': 'Image Files',
            'fileObjName' : 'file',
            //允许上传的文件后缀
            'fileTypeExts': '*.gif; *.jpg; *.png',
            'onUploadSuccess' : function(file,data,response) {
                // response true ,false
                if(response) {
                    var obj = JSON.parse(data); //由JSON字符串转换为JSON对象

                    /*console.log(data);*/
                    $('#' + file.id).find('.data').html(' 上传完毕');

                    $("#upload_org_code_img").attr("src",obj.data);
                    $("#file_upload_image").attr('value',obj.data);
                    $("#upload_org_code_img").show();
                }else{
                    alert('上传失败');
                }
            },
        });
      });
    </script>


{/block}
