{extend name="base" /}
{block name="title"}<title>文章列表</title>{/block}
{block name="pageheader"}
	<section class="content-header">
      <h1>
        文章草稿箱
        <small>草稿列表</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 文章草稿箱</a></li>
        <li class="active">草稿列表</li>
      </ol>
    </section>
{/block}
{block name="content"}
<div style="background-color: #fff">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">条件筛选</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="">
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                <label>关键字搜索</label>
                <input type="text" class="form-control" placeholder="搜索...">
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                  <label>分类</label>
                  <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="form-group">
                  <label>创建人</label>
                  <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                </div>
            </div>
            <div class="form-group">
              <label class="hidden-xs"><a style="visibility: hidden;">搜索</a></label>
              <div style="margin-left: 15px;"><button type="button" class="btn btn-default"><i class="fa fa-search"></i></button></div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <div class="box box-success">
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody><tr>
              <th>ID</th>
              <th>文章标题</th>
              <th>发布时间</th>
              <th>分类</th>
              <th>描述</th>
              <th>操作</th>
            </tr>
            <tr>
              <td>183</td>
              <td>John Doe</td>
              <td>11-7-2014</td>
              <td><span class="label label-success">分类一</span></td>
              <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
              <td>
                <div class="btn-group  btn-group-xs" role="group">
                  <button type="button" class="btn btn-success">编辑</button>
                  <button type="button" class="btn btn-danger">删除</button>
                </div>
              </td>
            </tr>
            <tr>
              <td>219</td>
              <td>Alexander Pierce</td>
              <td>11-7-2014</td>
              <td><span class="label label-warning">分类二</span></td>
              <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
              <td>
                <div class="btn-group  btn-group-xs" role="group">
                  <button type="button" class="btn btn-success">编辑</button>
                  <button type="button" class="btn btn-danger">删除</button>
                </div>
              </td>
            </tr>
            <tr>
              <td>657</td>
              <td>Bob Doe</td>
              <td>11-7-2014</td>
              <td><span class="label label-primary">分类三</span></td>
              <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
              <td>
                <div class="btn-group  btn-group-xs" role="group">
                  <button type="button" class="btn btn-success">编辑</button>
                  <button type="button" class="btn btn-danger">删除</button>
                </div>
              </td>
            </tr>
            <tr>
              <td>175</td>
              <td>Mike Doe</td>
              <td>11-7-2014</td>
              <td><span class="label label-danger">分类四</span></td>
              <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
              <td>
                <div class="btn-group  btn-group-xs" role="group">
                  <button type="button" class="btn btn-success">编辑</button>
                  <button type="button" class="btn btn-danger">删除</button>
                </div>
              </td>
            </tr>
          </tbody></table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
  

</div>





 {/block}

