{extend name="base" /}
{block name="title"}<title>文章列表</title>{/block}
{block name="pageheader"}
	<section class="content-header">
      <h1>
        文章管理
        <small>文章列表</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 文章管理</a></li>
        <li class="active">文章列表</li>
      </ol>
    </section>
{/block}
{block name="content"}
<div style="background-color: #fff">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">所有文章</h3>
          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

              <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody><tr>
              <th>ID</th>
              <th>文章标题</th>
              <th>发布时间</th>
              <th>
                <div class="dropdown">
                  <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    分类
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">分类一</a></li>
                    <li><a href="#">分类二</a></li>
                    <li><a href="#">分类三</a></li>
                    <li><a href="#">分类四</a></li>
                  </ul>
                </div>
              </th>
              <th>描述</th>
              <th>操作</th>
            </tr>
            <tr>
              <td>183</td>
              <td>John Doe</td>
              <td>11-7-2014</td>
              <td><span class="label label-success">分类一</span></td>
              <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
              <td>
                <div class="btn-group  btn-group-xs" role="group">
                  <button type="button" class="btn btn-success">编辑</button>
                  <button type="button" class="btn btn-warning">草稿</button>
                  <button type="button" class="btn btn-danger">回收</button>
                </div>
              </td>
            </tr>
            <tr>
              <td>219</td>
              <td>Alexander Pierce</td>
              <td>11-7-2014</td>
              <td><span class="label label-warning">分类二</span></td>
              <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
              <td>
                <div class="btn-group  btn-group-xs" role="group">
                  <button type="button" class="btn btn-success">编辑</button>
                  <button type="button" class="btn btn-warning">草稿</button>
                  <button type="button" class="btn btn-danger">回收</button>
                </div>
              </td>
            </tr>
            <tr>
              <td>657</td>
              <td>Bob Doe</td>
              <td>11-7-2014</td>
              <td><span class="label label-primary">分类三</span></td>
              <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
              <td>
                <div class="btn-group  btn-group-xs" role="group">
                  <button type="button" class="btn btn-success">编辑</button>
                  <button type="button" class="btn btn-warning">草稿</button>
                  <button type="button" class="btn btn-danger">回收</button>
                </div>
              </td>
            </tr>
            <tr>
              <td>175</td>
              <td>Mike Doe</td>
              <td>11-7-2014</td>
              <td><span class="label label-danger">分类四</span></td>
              <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
              <td>
                <div class="btn-group  btn-group-xs" role="group">
                  <button type="button" class="btn btn-success">编辑</button>
                  <button type="button" class="btn btn-warning">草稿</button>
                  <button type="button" class="btn btn-danger">回收</button>
                </div>
              </td>
            </tr>
          </tbody></table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
  

</div>

























 {/block}

